/* Removing default styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
/* remove underline from anchor tags */
a {
  text-decoration: none;
}
/*Utility classes*/
.flexContainer {
  display: flex;
}

/* General body styling */
.App {
  height: 100vh;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
}

body {
  background: rgb(49, 49, 49);
  background: linear-gradient(
    0deg,
    rgba(49, 49, 49, 1) 0%,
    rgba(79, 78, 78, 1) 54%,
    rgba(58, 58, 58, 1) 100%
  );
}

/* Header and .navbar styling */
.navBar {
  justify-content: center;
  font-size: 1rem;
  letter-spacing: 1px;
  background: #107c10;
}

li {
  padding: 30px;
}
a {
  color: white;
}
a:hover {
  color: yellow;
  transition: 0.5s;
}

h1 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 0.95rem + 0.25vw, 1.25rem);
}

/*  */

/* options menu styling begin*/
select {
  text-transform: capitalize;
}

/* options menu styling end */

.contentSection {
  height: 500px;
  width: auto;
  margin: 5rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardFont {
  font-family: "Press Start 2P", Calibri, sans-serif;
}

.gameCardBefore {
  background: rebeccapurple;
  border: 2px solid black;
  border-radius: 5px;
  align-items: center;
  max-width: 200px;
  height: 250px;
  transition: 0.5s;
}

.cardTitleBefore {
  font-size: 0.5rem;
  font-size: clamp(0.5rem, 0.95rem + 0.25vw, 1.25rem);
}

.gameCard {
  margin: 0 auto;
  background: rebeccapurple;
  border: 2px solid black;
  border-radius: 5px;
  width: clamp(200px, 40%, 600px);
  /* width: 75%; */
  height: auto;
}

.cardContent {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-auto-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}

.cardTitle {
  padding: 15px;
}

.cardImage {
  width: 100%;
  height: auto;
}

.cardBody {
  padding: 10px;
}

.buttonContainer {
  padding: 1rem;
}

.linkButton {
  text-transform: capitalize;
  font-size: 0.5rem;
  cursor: pointer;
  color: white;
  padding: 6px 10px;
  background: #107c10;
  border: 3px ridge #075507;
  box-shadow: 0 4px 0 0 #054d05;
  transition: all 300ms ease-in-out;
  border-radius: 5px;
}

footer {
  margin-top: 50px;
  background: #107c10;
}
