/* Removing default styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
/*Utility classes*/
.flexContainer {
  display: flex;
}
.wrapper {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
}

/* General body styling */
.App {
  flex-direction: column;
  padding: 10px;
  background: black;
  /* height: 100vh; */
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
  border: 10px groove #0e1c35;
}

body {
  color: white;
  font-weight: 100;
  font-size: 1rem;
  background: rgb(13, 31, 92);
  background: radial-gradient(
    circle,
    rgb(21, 56, 171) 1%,
    rgba(7, 9, 43, 1) 100%
  );
}

/* Header and .navbar styling */
.navBar {
  justify-content: center;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 2px solid rgb(173, 173, 173);
  background: black;
  box-shadow: 0 0 0.5rem rgb(30, 210, 237), inset 0 0 0.5rem rgb(30, 210, 237),
    0 0 3rem rgb(6, 15, 44), inset 0 0 3rem rgb(6, 15, 44),
    0 0 5rem rgb(6, 15, 44), inset 0 0 5rem rgb(6, 15, 44);
}

li {
  padding: 20px;
}
a {
  color: white;
  transition: 0.5s;
  text-transform: uppercase;
  text-shadow: -0.2rem -0.2rem 0.7rem #08f, 0.2rem 0.2rem 0.7rem #08f,
    0 0 2rem #08f, 0 0 4rem #08f, 0 0 6rem #08f, 0 0 8rem #08f, 0 0 10rem #08f;
}

.extLink,
a {
  transition: all 300ms ease-in-out;
}

.extLink:hover,
.extLink:focus {
  color: yellow;
  text-shadow: -0.2rem -0.2rem 0.7rem rgb(179, 236, 21),
    0.2rem 0.2rem 0.7rem rgb(179, 236, 21), 0 0 2rem rgb(179, 236, 21),
    0 0 4rem rgb(179, 236, 21), 0 0 6rem rgb(179, 236, 21),
    0 0 8rem rgb(179, 236, 21), 0 0 10rem rgb(179, 236, 21);
}

/* a:hover {
  
} */

.heroText {
  border-radius: 10px;
  margin-bottom: 3rem;
  border: 2px solid rgb(173, 173, 173);
  background: black;
  box-shadow: 0 0 0.5rem rgb(30, 210, 237), inset 0 0 0.5rem rgb(30, 210, 237),
    0 0 3rem rgb(6, 15, 44), inset 0 0 3rem rgb(6, 15, 44),
    0 0 5rem rgb(6, 15, 44), inset 0 0 5rem rgb(6, 15, 44);
}

h1 {
  font-size: calc(3rem + 1vw);
  padding: 0.5rem;
  text-transform: uppercase;
  text-shadow: -0.2rem -0.2rem 0.7rem #08f, 0.2rem 0.2rem 0.7rem #08f,
    0 0 2rem #08f, 0 0 4rem #08f, 0 0 6rem #08f, 0 0 8rem #08f, 0 0 10rem #08f;
}

/* GenreForm component styling begins*/

main {
  background: black;
  border-radius: 10px;
  border: 2px solid rgb(173, 173, 173);
  box-shadow: 0 0 0.5rem rgb(30, 210, 237), inset 0 0 0.5rem rgb(30, 210, 237),
    0 0 3rem rgb(6, 15, 44), inset 0 0 3rem rgb(6, 15, 44),
    0 0 5rem rgb(6, 15, 44), inset 0 0 5rem rgb(6, 15, 44);
  padding: 3rem 4rem;
}

.subText {
  border-radius: 10px;
  border: 2px solid rgb(173, 173, 173);
  background: black;
  box-shadow: 0 0 0.5rem rgb(30, 210, 237), inset 0 0 0.5rem rgb(30, 210, 237),
    0 0 3rem rgb(6, 15, 44), inset 0 0 3rem rgb(6, 15, 44),
    0 0 5rem rgb(6, 15, 44), inset 0 0 5rem rgb(6, 15, 44);
}

h2 {
  padding: 0.6rem;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -0.2rem -0.2rem 0.7rem #08f, 0.2rem 0.2rem 0.7rem #08f,
    0 0 2rem #08f, 0 0 4rem #08f, 0 0 6rem #08f, 0 0 8rem #08f, 0 0 10rem #08f;
}
.categorySelect {
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 5px;
  border: 1px solid rgb(173, 173, 173);
  font-family: "Ubuntu", sans-serif;
  color: white;
  background: rgb(27, 132, 224);
  box-shadow: 0 0 0.5rem rgb(27, 132, 224), inset 0 0 0.5rem rgb(27, 132, 224),
    0 0 3rem rgb(17, 44, 133), inset 0 0 3rem rgb(17, 44, 133),
    0 0 5rem rgb(17, 44, 133), inset 0 0 5rem rgb(17, 44, 133);
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.categorySelect:hover,
.categorySelect:focus {
  box-shadow: 0px 0px 5px 5px rgb(16, 232, 228, 0.5);
}

.rollButton {
  /* margin: 0.3rem; */
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 5px;
  border: 1px solid rgb(173, 173, 173);
  font-family: "Ubuntu", sans-serif;
  color: white;
  background: rgb(27, 132, 224);
  box-shadow: 0 0 0.5rem rgb(27, 132, 224), inset 0 0 0.5rem rgb(27, 132, 224),
    0 0 3rem rgb(17, 44, 133), inset 0 0 3rem rgb(17, 44, 133),
    0 0 5rem rgb(17, 44, 133), inset 0 0 5rem rgb(17, 44, 133);
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.rollButton:hover,
.rollButton:focus {
  box-shadow: 0px 0px 5px 5px rgb(16, 232, 228, 0.5);
}

.selctionContainer {
  padding: 1rem 0;
}
/* GenreForm component styling ends*/

/* DisplayGame Component begins. */

.cardFont {
  font-family: "Press Start 2P", Calibri, sans-serif;
}

.cardTitleBefore {
  font-size: 0.5rem;
  font-size: clamp(0.5rem, 0.95rem + 0.25vw, 1.25rem);
}

.gameCard {
  padding: 0.8rem;
  margin: 0 auto;
  background: rgb(69, 0, 138);
  border-radius: 10px;
  border: 2px solid rgb(69, 0, 138);
  box-shadow: 0 0 0.5rem rgb(69, 0, 138), inset 0 0 0.5rem rgb(69, 0, 138),
    0 0 3rem rgb(6, 15, 44), inset 0 0 3rem rgb(6, 15, 44),
    0 0 5rem rgb(6, 15, 44), inset 0 0 5rem rgb(6, 15, 44);
  width: clamp(500px, 75%, 600px);
  height: auto;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardTitle {
  max-width: 100%;
  padding: 15px;
}

.cardImage {
  width: 100px;
  width: clamp(100px, 100%, 600px);
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  border: 1px groove black;
}

p {
  padding: 20px 0;
  font-size: 0.8em;
}

.linkButton {
  margin: 1rem 0 0 0;
  display: block;
  text-transform: capitalize;
  font-size: 0.7rem;
  cursor: pointer;
  color: white;
  padding: 6px 10px;
  background: #107c10;
  border: 3px ridge #075507;
  box-shadow: 0 4px 0 0 #054d05;
  transition: all 300ms ease-in-out;
  border-radius: 10px;
  margin: 0.5rem 0;
}

.linkButton:hover,
.linkButton:focus {
  box-shadow: 0px 0px 10px 5px rgb(47, 218, 17);
}

/* DisplayGame Component begins. */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  height: 50px;
  font-size: 1.2em;
  text-shadow: -0.2rem -0.2rem 0.7rem #08f, 0.2rem 0.2rem 0.7rem #08f,
    0 0 2rem #08f, 0 0 4rem #08f, 0 0 6rem #08f, 0 0 8rem #08f, 0 0 10rem #08f;
  border-radius: 10px;
  border: 2px solid rgb(173, 173, 173);
  background: black;
  box-shadow: 0 0 0.5rem rgb(30, 210, 237), inset 0 0 0.5rem rgb(30, 210, 237),
    0 0 3rem rgb(6, 15, 44), inset 0 0 3rem rgb(6, 15, 44),
    0 0 5rem rgb(6, 15, 44), inset 0 0 5rem rgb(6, 15, 44);
}
